{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>{% block title %}Tourist agency{% endblock title%}</title>
	<link rel="stylesheet" href={% static "css/font-awesome.min.css" %}>
	<link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
	<link rel="stylesheet" href={% static "css/animate.min.css" %}>
	<link rel="stylesheet" href={% static "css/style.css" %}>
	<link rel="stylesheet" href={% static "css/responsive.css" %}>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
	<link rel="stylesheet" href={% static "css/nice-select.css" %}>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href={% static "css/multi-select.css" %}>
	<script src="{% static "js/modernizr.js" %}"></script>
	

    {% block extra_head %}{% endblock extra_head%}
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<!-- nav starts here -->
				<div class="col-md-12">					
					<nav class="navbar navbar-default">
						<div class="container-fluid nav-bar">
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      {% comment %} <a href="index.html"><img src= {% static "img/logo.png" %} alt="" class="img-responsive logo"></a> {% endcomment %}
						    </div>
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav navbar-right">
						        <li><a href="#home">Тури</a></li>
						        <li><a href="#tour_search">Екскурсійні тури</a></li>
						        <li><a href="#about">Про нас</a></li>
						        <!-- <li><a href="#testimonials">Testimonials</a></li>
						        <li><a href="#pricing">Pricing</a></li>
						        <li><a href="#contact">Contact</a></li> -->
						      </ul>
						    </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header><!-- end of header section -->

	<!-- banner section starts here -->
	<section class="banner" id="home">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 wow fadeInLeft animated">
					<h3></h3>
					<h1>Пошук туру</h1>
					<p>У нас ви зможете знайти потрібний вам тур за привабливою ціною.</p>
					<a class="download-btn" href="#tour_search">Підібрати тур</a>
					<!-- <button class="features-btn">view features</button> -->
				</div>
				<div class="col-xs-6 banner-img wow fadeInRight animated">
					<img class="img-responsive" src={% static "img/verticle-phone.png" %} alt="">
				</div>
			</div>
		</div>
	</section><!-- end of banner section -->

	<!-- feature sectiona -->
	<section class="features text-center" id="tour_search">
		<div class="container">
			<div class="row">
				
				{% comment %} <h2>List of amazing features</h2>
				<img class="img-responsive" src={% static "img/daag.png" %} alt="">
				<div class="col-md-3 wow zoomIn animated">
					<i class="fa fa-desktop"></i>
					<h3>Responsive</h3>
					<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
				</div>
				<div class="col-md-3 wow zoomIn animated">
					<i class="fa fa-cog"></i>
					<h3>Customizable</h3>
					<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
				</div>
				<div class="col-md-3 wow zoomIn animated">
					<i class="fa fa-facebook"></i>
					<h3>Lovely design</h3>
					<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
				</div>
				<div class="col-md-3 wow zoomIn animated">
					<i class="fa fa-mobile"></i>
					<h3>Mobile Friendly</h3>
					<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
				</div> {% endcomment %}
				<form method="post" id='findAvailableToursForm' data-country-hotels="{% url 'agency:ajax_load_country_hotels' %}" data-cities-url="{% url 'agency:ajax_load_cities' %}" data-hotels-url="{% url 'agency:ajax_load_hotels' %}" find-tours-url="{% url 'agency:ajax_find_available_tours' %}">
					{% csrf_token %}
					{{ form.non_field_errors }}	
					<div class="form-group ">
						{{ country_search_form.name.errors }}</br></br>
						<label for="id_tour_country_name" class="pull-left">Куди країна:</label></br>
						{{country_search_form.name|attr:"id:id_tour_country_name"}}
					</div>
					<div class="form-group ">
						{{ departure_city_search_form.name.errors }}
						<label for="{{ departure_city_search_form.name.id_for_label }}" class='pull-right'>Звідки:</label><br/>
						{{departure_city_search_form.name|attr:"id:id_tour_departure_city_name"|add_class:"pull-right"}}
					</div>
					<div class="form-group col-md-offset-5">
						{{ city_search_form.name.errors }}
						<label for="id_tour_city_name">Куди місто:</label></br>
						{% render_field city_search_form.name id='id_tour_city_name' name="tour_city_name" multiple="multiple"%}
					</div>
					<div class="form-group col-2">
						{{night_amount_form.as_table}}
					</div>
					<div class="form-group col-sm-3 col-2">
						{{departure_date_form.as_table}}
					</div>
					<div class="form-group col-md-offset-5">
						{{ hotel_search_form.name.errors }}
						<label for="id_tour_hotel_name">Куди готель:</label></br>
						{{hotel_search_form.name|attr:"id:id_tour_hotel_name"}}
					</div>
					
					<br/>
					<div class="col-md-1 wow zoomIn animated btn btn-block">
						<button id='find-tours-button' class='btn btn-primary'>Знайти</button>
					</div>
				</form>
					{% comment %} {{departure_city_search_form.as_table}} {% endcomment %}
			</div>
		</div>
	</section><!-- end of features section -->
	<hr>
	<!-- details section -->
	<section class="details" id="available_tours_form">
		<div class="container">
			<div class="row">
				<div class="modal fade" id="available-tours-task-modal" tabindex="-1" role="dialog" aria-labelledby="available-tours-task-modal-title" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						</div>
					</div>
				</div>
				<div class="modal fade" id="create-order-modal" tabindex="-1" role="dialog" aria-labelledby="create-order-modal-title" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						</div>
					</div>
				</div>
				<div class="modal fade" id="create-order-success-modal" tabindex="-1" role="dialog" aria-labelledby="create-order-success-title" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end of details section -->


	{% comment %} <!-- details section -->
	<section class="details" id="about">
		<div class="container">
			<div class="row">

				<div class="col-md-5 col-xs-6 col-sm-6 wow slideInUp animated">
					<img class="img-responsive details-phone" src={% static "img/verticle-phone.png" %} alt="">
				</div>
				<div class="col-md-6 col-md-offset-1 col-xs-6 col-sm-6 wow slideInUp animated">
					<h4>dip into the details</h4>
					<h2>Beautiful on every device</h2>
					<img class="img-responsive" src={% static "img/daag.png"%} alt="">
					<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
					<ul>
						<li><i class="fa fa-trophy"></i>Awesome design</li>
						<li><i class="fa fa-mobile"></i>Fully responsive</li>
						<li><i class="fa fa-bolt"></i> Retina ready</li>
						<li><i class="fa fa-tachometer"></i>Tons of features and easy to use</li>
					</ul>
				</div>
			</div>
		</div>
	</section><!-- end of details section --> {% endcomment %}

	<!-- features details section -->
	{% comment %} <section class="feature-detail">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 wow fadeInLeft animated">
					<h4>dip into the details</h4>
					<h2>Super easy to customize</h2>
					<img src={% static "img/daag.png" %} alt="">
					<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
				</div>
				<div class="col-xs-7 horizontal-phone wow fadeInRight animated">
					<img class="img-responsive" src={% static "img/laid-phone2.png" %} alt="phone">
				</div>
			</div>
		</div>
	</section><!-- end of features-detail section --> {% endcomment %}

	<!-- pricing-slide section starts here -->
	<section class="pricing-slide" id="testimonials">
		<div class="container">
			<div class="row">
				<div class="pricing-slide-heading text-center">
					<h4>quality has its price</h4>
					<h2>Pricings &amp; Plans</h2>
					<img class="img=responsive" src={% static "img/daag.png" %} alt="">
				</div>
				<div class="the-pricing-slider">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					  </ol>
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
						    <div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
						      	<p>Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.</p>
						      	<div class="person">
						      		<img class="img-circle img-responsive" src={% static "img/slider-img-1.jpg" %} alt="">
						      		<h6>John Doe</h6>
						      		<h5>CEO, THE RIVERS COMPANY</h5>
						      	</div>
						    </div>
						    <div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
						      	<p>A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.</p>
						      	<div class="person">
						      		<img class="img-circle img-responsive" src={% static "img/slider-img-2.jpg" %} alt="">
						      		<h6>Dean Winchester</h6>
						      		<h5>UX DESIGNER, GOOGLE INC.</h5>
						      	</div>
						    </div>
					    </div>
					    <div class="item">
						    <div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
						      	<p>Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.</p>

						      	<div class="person">
						      		<img class="img-circle img-responsive" src={% static "img/slider-img-3.jpg" %} alt="">
						      		<h6>John Doe</h6>
						      		<h5>CEO, THE RIVERS COMPANY</h5>
						      	</div>
						    </div>
						    <div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
						      	<p>A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.</p>
						      	<div class="person">
						      		<img class="img-circle img-responsive" src={% static "img/slider-img-5.jpg" %} alt="">
						      		<h6>Dean Winchester</h6>
						      		<h5>UX DESIGNER, GOOGLE INC.</h5>
						      	</div>
						    </div>
					    </div>
					    <div class="item">
						    <div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
						      	<p>Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.</p>
						      	<div class="person">
						      		<img class="img-circle img-responsive" src={% static "img/slider-img-4.jpg" %} alt="">
						      		<h6>John Doe</h6>
						      		<h5>CEO, THE RIVERS COMPANY</h5>
						      	</div>
						    </div>
						    <div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
						      	<p>A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.</p>
						      	<div class="person">
						      		<img class="img-circle img-responsive" src={% static "img/slider-img-6.jpg" %} alt="">
						      		<h6>Dean Winchester</h6>
						      		<h5>UX DESIGNER, GOOGLE INC.</h5>
						      	</div>
						    </div>
					    </div>						   
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end of pricing-slide section -->

	<!-- find section -->
	<section class="download">
		<div class="container">
			{% comment %} <div class="row">
				<div class="col-md-8 col-sm-8">
					<p><span>Like what you see? </span>Get this great theme now!</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<button class="features-btn">view features</button>
					<button class="download-btn">download now</button>
				</div>
			</div> {% endcomment %}
		</div>
	</section><!-- end of find section -->

	<!-- price-plan section -->
	<section class="price-plan text-center" id="pricing">
		<div class="container">
			<div class="row">
				{% comment %} <div class="pricing-heading">
					<h4>quality has its price</h4>
					<h2>Pricings &amp; Plans</h2>
					<img class="img-responsive" src={% static "img/daag.png" %} alt="">
				</div>
				<div class="pricing-tables">
					<div class="col-md-3 col-sm-6 wow zoomIn animated">
						<div class="single-table free">
							<div class="table-heading">
								<h3>FREE</h3>
							</div>
							<div class="table-price">
								<h5><span>$</span>0</h5>
								<p>/per month</p>
							</div>
							<div class="table-description">
								<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a href="#">lacinia</a> consectetur.</p>
								<button>ORDER NOW</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow zoomIn animated">
						<div class="single-table personal">
							<div class="table-heading">
								<h3>Personal</h3>
							</div>
							<div class="table-price">
								<h5><span>$</span>25</h5>
								<p>/per month</p>
							</div>
							<div class="table-description">
								<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a href="#">lacinia</a> consectetur.</p>
								<button>ORDER NOW</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow zoomIn animated">
						<div class="single-table business">
							<div class="table-heading">
								<h3>Business</h3>
							</div>
							<div class="table-price business-price">
								<h5><span>$</span>50</h5>
								<p>/per month</p>
							</div>
							<div class="table-description">
								<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a href="#">lacinia</a> consectetur.</p>
								<button>ORDER NOW</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow zoomIn animated">
						<div class="single-table ultimate">
							<div class="table-heading">
								<h3>Ultimate</h3>
							</div>
							<div class="table-price">
								<h5><span>$</span>99</h5>
								<p>/per month</p>
							</div>
							<div class="table-description">
								<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a href="#">lacinia</a> consectetur.</p>
								<button>ORDER NOW</button>
							</div>
						</div>
					</div>
				</div> {% endcomment %}
			</div>
		</div>
	</section><!-- end of price-plan section -->

	<!-- contact section -->
	<section class="contact text-center" id="contact">
		<div class="container">
			<div class="row">
				{% comment %} <div class="contact-heading">
					<h4>stay in touch</h4>
					<h2>Contact us</h2>
					<img class="img-responsive" src={% static "img/daag.png" %} alt="">
				</div>
				<div class="col-md-2 col-md-offset-1 col-xs-4 col-sm-4">
					<i class="fa fa-phone"></i>
					<p>Phone: (415) 124-5678</p>
					<p>Fax: (412) 123-8290</p>
				</div>
				<div class="col-md-2 col-md-offset-2 col-xs-4 col-sm-4">
					<i class="fa fa-map-marker"></i>
					<p>1001 Brickell Bay Dr.</p>
					<p>Suite 1900 </p>
					<p>Miami, FL 33131</p>
				</div>
				<div class="col-md-2 col-md-offset-2 col-xs-4 col-sm-4 clearfix">
					<i class="fa fa-envelope-o"></i>
					<p>user@mail.com</p>
				</div>
				<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
					<article class="contact-form">
						<form action="contact">
							<div class="col-md-5 col-md-offset-1 contact-form-left">
								<input class="name" type="text" placeholder="NAME*">
								<input class="email" type="email" placeholder="EMAIL*">
								<input class="subject" type="text" placeholder="SUBJECT*">
							</div>
							<div class="col-md-5 contact-form-right text-right">
								<textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="MESSAGE"></textarea>
								<input type="submit" class="submit-btn" value="send message">
							</div>
						</form>
					</article>
				</div> {% endcomment %}
			</div>
		</div>
	</section><!-- end of contact section -->

	<!-- google map api -->
	{% comment %} <div class="map">
		<div class="container-fluid">
			<div class="row">
				<div id="map"></div> <!-- api map -->
			</div>
		</div>
	</div> {% endcomment %}
		
	<!-- footer starts here -->
	<footer class="footer text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="icons">
						<a href=""><i class="fa fa-behance"></i></a>
						<a href=""><i class="fa fa-dribbble"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
					<p>COPYRIGHT &copy; 2015 Mostafizur Rahman</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- script tags
	============================================================= -->
	<script src={% static "js/jquery-2.1.1.js" %}></script>
	<script src={% static "js/smoothscroll.js" %}></script>
	<script src={% static "js/bootstrap.min.js" %}></script>
	<script src={% static "js/front.js" %}></script>
	<script src={% static "js/jquery.multi-select.js" %}></script>
	<script src={% static "js/jquery.nice-select.js" %}></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	{% comment %} <script src={% static "js/custom.js" %}></script> {% endcomment %}
	<script src={% static "js/wow.js" %}></script>
	{% comment %} <script src="http://maps.google.com/maps/api/js?sensor=true"></script> {% endcomment %}
	{% comment %} <script src={% static "js/gmaps.js" %}></script>
	<script>
	    var map = new GMaps({
	      el: '#map',
	      lat: -12.043333,
	      lng: -77.028333
	    });
	</script> {% endcomment %}
</body>
</html>